@media (max-width:950px){
    .header-container{
        #menu-icon{
        display:block;
    }
}
    .navbar{
        display: none;
}
}

.main-index{
    .titulo-principal{
        h1{
        font-size: 2rem;
        margin-top: 40px;
        }
    }
}

@media (max-width:950px){
    footer{
        .footer-mobile{
            display: block;
        }
        .footer-desktop{
            display: none;
        }
    }
}

@media(max-width:950px){
    .churros-margin{
        margin-left: 50px;
        margin-left: 50px;
        .churros-title{
            margin-right: 0;
            font-size: 5rem;
        }
    }
}