@media(max-width:610px){
    .minorista-1{
        h2{
            font-size: 40px;
        }
    }
    .minorista-2{
    .minorista-2-margen{
        margin: 0;
        margin-top: 20px;
        .minorista-2-productos{
            display: flex;
            flex-direction: column;
            align-content: center;
            img{
                width: 150px;
                height: auto;
            }
        }
    }
    .minorista-2-titulos{
        h2{
            font-size: 40px;
        }
    }
}
}

@media(max-width:610px){
    .body-inicio{
        main{
            .inicio-2-btn{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
