@media(max-width:610px){
    .churros-margin{
        margin: 0;
        .churros-section-1{
            img{
                width: 180px;
                height: auto;
            }
        }
    }
    .section.donut{
        h2{
            font-size: 40px;
        }
    }
    .churros-title{
        h2{
            font-size: 40px;
        }
    }
}